APP_NAME=Open Analytics
APP_ENV=development
APP_HOST=127.0.0.1
APP_PORT=8000
DUCKDB_PATH=app/db/open_analytics.duckdb

JWT_SECRET_KEY=ldJxZND5/zWBmEzIKVoPBkUW3g7E7ULUnMfWLY0f3hOaCanxCCvJwug7xYgY15TK
JWT_ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=60
UPSTOX_NOTIFIER_WEBHOOK_URL=http://127.0.0.1:8000/api/v1/connections/upstox/notifier
QUANT_REFRESH_ON_STARTUP=false
QUANT_REFRESH_LIMIT=1000
QUANT_REFRESH_INCLUDE_DEEP_LEARNING=true
QUANT_REFRESH_TRAIN_MISSING_MODELS=false
QUANT_REFRESH_REBUILD=false
